* {
    padding: 0;
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
}

.box {
    width: 320px;
    height: 320px; 
    background-color: #6CCCFA;
    background: linear-gradient(to top right, #6CCCFA, #0883CC, #066CAE);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box__button {
    padding: 10px 25px;
    color: grey;
    background-color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    margin: 15px 100px;
    cursor: pointer;
    transition: all 0.4s linear;
}

.box__button:hover {
    text-shadow: 2px 2px 5px #5B7382;
    transform: scale(1.08);
    box-shadow: 2px 2px #5B7382;
}


@media (min-width: 400px) {
    .box {width: 400px; height: 400px;}
    .box__button {font-size: 17px; padding: 15px 30px;}
}

@media (min-width: 768px) {
    
}