* {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background: linear-gradient(to top right, #9E4707, #D87C2A, #F6A24D);
    width: 320px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box__block {
    background-color: #ffffff;
    width: 300px;
    height: 300px;
    display: flex;
}

.box__block1 {
    flex-basis: 70%;
    position: relative;
}

.box__block1--img {
    cursor: pointer;
}

.box__block1--img img {
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 70px;
}

.box__block1--img:hover .box__block1--circle1 {
    transform: rotate(360deg);
}

.box__block1--img:hover .box__block1--circle2 {
    transform: rotate(-360deg);
}

.box__block1--circle1 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: transparent;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    position: absolute;
    top: 25px;
    left: 65px;
    transition: all 2s ease-in-out;
}

.box__block1--circle2 {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: transparent;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    position: absolute;
    top: 20px;
    left: 60px;
    transition: all 2s ease-in-out;
}

.box__block1--text1 {
    position: absolute;
    left: 60px;
    top: 120px;
    color: brown;
    font-weight: bold;
}

.box__block1--text2 {
    position: absolute;
    left: 65px;
    top: 150px;
    color: brown;
}

.box__block1--btn1 {
    color: brown;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: transparent;
    position: absolute;
    left: 65px;
    top: 190px;
}

.box__block1--btn1:hover {
    color: #ffffff;
    background-color: brown;
}

.box__block1--btn2 {
    color: brown;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: transparent;
    position: absolute;
    left: 59px;
    top: 230px;
}

.box__block1--btn2:hover {
    color: #ffffff;
    background-color: brown;
}

.box__block2 {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box__block2--text {
    flex-basis: 33%;
    background-color: #EEE1C7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.box__block2--text:hover {
    background-color: #CEBD9F;
}
.box__block2--text p {
    color: brown;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.box__block2--text span {
    color: brown;
    font-size: 12px;
    font-weight: 100;
}

@media (min-width: 400px) {
	.box {width: 400px; height: 400px;}
}

@media (min-width: 768px) {
    
}