* {
    padding: 0;
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
}

.box {
    width: 400px;
    height: 400px; 
    background-color: #1B468A;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.candle {
    width: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fire {
    width: 17px;
    height: 30px;
    background-color: yellow;
    border-radius: 40%;
    animation: candleInTheWind 10s linear infinite;
}

.candlewick {
    width: 3px;
    height: 8px;
    background-color: brown;
}

.wax {
    width: 60px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 10%;
    box-shadow: inset -8px 0 #D4D4D4;
}

.base {
    height: 10px;
    width: 150px;
    background-color: #012267;
    border-radius: 3px;
}

@keyframes candleInTheWind {
    0%, 20%, 50%, 60%, 80%, 100% {
        border-radius: 1px 12px 5px 5px / 18px 18px 5px 5px;
        box-shadow: 0 0 50px gold; 
    }
    10%, 30%, 60%, 70%, 90% {
        border-radius: 14px 1px 10px 8px / 17px 19px 6px 6px;
        box-shadow: 0 0 50px gold; 
    }
}
@media (min-width: 400px) {
	
}

@media (min-width: 768px) {
    
}