* {
    padding: 0;
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.box {
    background-color: #ACDC58;
    width: 400px;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
}

.egg {
    width: 120px;
    height: 150px;
    background-color: #F4C933;
    border-radius: 60% 60% 50% 50%;
    -webkit-animation: move 6s ease-in-out infinite;
            animation: move 6s ease-in-out infinite;
    border: 1px solid #F6C900;
    -webkit-box-shadow: 1px 1px #F6C900;
            box-shadow: 1px 1px #F6C900;
}

.text {
    font-size: 60px;
    font-weight: bold;
    color: #AB8700;
    text-align: center;
    margin-top: 20px;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation: text 10s ease infinite;
            animation: text 10s ease infinite;
}

@-webkit-keyframes move {
    0% {
        -webkit-transform: translate(0, -100px) scale(0.7, 1.3);
                transform: translate(0, -100px) scale(0.7, 1.3);
    } 
    25% {
        -webkit-transform: translate(0, 40px) scale(0.9, 1.1);
                transform: translate(0, 40px) scale(0.9, 1.1);
    }
    30% {
        -webkit-transform: translate(0, -20px) scale(0.95, 1.01);
                transform: translate(0, -20px) scale(0.95, 1.01);
    }
    35% {
        -webkit-transform: translate(0, 10px) scale(1.01, 0.98);
                transform: translate(0, 10px) scale(1.01, 0.98);
    }
    40%, 45% {
        -webkit-transform: translate(0, 0) scale(1) rotate(0deg);
                transform: translate(0, 0) scale(1) rotate(0deg);
    }
    50% {
        -webkit-transform: translate(0, 0) scale(1) rotate(10deg);
                transform: translate(0, 0) scale(1) rotate(10deg);
    }
    55% {
        -webkit-transform: translate(0, 0) scale(1) rotate(-10deg);
                transform: translate(0, 0) scale(1) rotate(-10deg);
    }
    60% {
        -webkit-transform: translate(0, 0) scale(1) rotate(10deg);
                transform: translate(0, 0) scale(1) rotate(10deg);
    }
    65%, 70% {
        -webkit-transform: translate(0, 0) scale(1) rotate(0deg);
                transform: translate(0, 0) scale(1) rotate(0deg);
    }
    75% {
        -webkit-transform: translate(0, 10px) scale(1.01, 0.98);
                transform: translate(0, 10px) scale(1.01, 0.98);
    }
    80% {
        -webkit-transform: translate(0, -20px) scale(0.95, 1.01);
                transform: translate(0, -20px) scale(0.95, 1.01);
    }
    100% {
        -webkit-transform: translate(0, 350px) scale(0.7, 1.3);
                transform: translate(0, 350px) scale(0.7, 1.3);
    }
}

@keyframes move {
    0% {
        -webkit-transform: translate(0, -100px) scale(0.7, 1.3);
                transform: translate(0, -100px) scale(0.7, 1.3);
    } 
    25% {
        -webkit-transform: translate(0, 40px) scale(0.9, 1.1);
                transform: translate(0, 40px) scale(0.9, 1.1);
    }
    30% {
        -webkit-transform: translate(0, -20px) scale(0.95, 1.01);
                transform: translate(0, -20px) scale(0.95, 1.01);
    }
    35% {
        -webkit-transform: translate(0, 10px) scale(1.01, 0.98);
                transform: translate(0, 10px) scale(1.01, 0.98);
    }
    40%, 45% {
        -webkit-transform: translate(0, 0) scale(1) rotate(0deg);
                transform: translate(0, 0) scale(1) rotate(0deg);
    }
    50% {
        -webkit-transform: translate(0, 0) scale(1) rotate(10deg);
                transform: translate(0, 0) scale(1) rotate(10deg);
    }
    55% {
        -webkit-transform: translate(0, 0) scale(1) rotate(-10deg);
                transform: translate(0, 0) scale(1) rotate(-10deg);
    }
    60% {
        -webkit-transform: translate(0, 0) scale(1) rotate(10deg);
                transform: translate(0, 0) scale(1) rotate(10deg);
    }
    65%, 70% {
        -webkit-transform: translate(0, 0) scale(1) rotate(0deg);
                transform: translate(0, 0) scale(1) rotate(0deg);
    }
    75% {
        -webkit-transform: translate(0, 10px) scale(1.01, 0.98);
                transform: translate(0, 10px) scale(1.01, 0.98);
    }
    80% {
        -webkit-transform: translate(0, -20px) scale(0.95, 1.01);
                transform: translate(0, -20px) scale(0.95, 1.01);
    }
    100% {
        -webkit-transform: translate(0, 350px) scale(0.7, 1.3);
                transform: translate(0, 350px) scale(0.7, 1.3);
    }
}

@-webkit-keyframes text {
    0% {
        -webkit-transform: translateX(-350px);
                transform: translateX(-350px);
    }
    20% {
        -webkit-transform: translateX(100px);
                transform: translateX(100px);
    }
    40% {
        -webkit-transform: translateX(300px);
                transform: translateX(300px);
    }
    60% {
        -webkit-transform: translateX(600px);
                transform: translateX(600px);
    }
    
    100% {
        -webkit-transform: translateX(800px);
                transform: translateX(800px);
    }
    
}

@keyframes text {
    0% {
        -webkit-transform: translateX(-350px);
                transform: translateX(-350px);
    }
    20% {
        -webkit-transform: translateX(100px);
                transform: translateX(100px);
    }
    40% {
        -webkit-transform: translateX(300px);
                transform: translateX(300px);
    }
    60% {
        -webkit-transform: translateX(600px);
                transform: translateX(600px);
    }
    
    100% {
        -webkit-transform: translateX(800px);
                transform: translateX(800px);
    }
    
}
@media (min-width: 400px) {
	
}

@media (min-width: 768px) {
    
}